<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
<script language="javascript">
</script>
<script src="static/callback.js"></script>
<script src="static/seagoat.js"></script>
<script language="javascript">

</script>
<head>
</head>
<body ng-app="" ng-controller="api">
	<div ng-controller="callback">
		<button type="button" ng-click="testt(testt_cb)" >Test</button><br>
		<button type="button" ng-click="add_image_observer(add_image_observer_cb)" >add_image_observer</button><br>
		<button type="button" ng-click="add_output_observer(add_output_observer_cb)" >add_output_observer</button><br>
		<button type="button" ng-click="cmd_to_media(cmd_to_media_cb)" >cmd_to_media</button><br>
		<button type="button" ng-click="cut_video(cut_video_cb)" >Test</button><br>
		<button type="button" ng-click="delete_filterchain(delete_filterchain_cb)" >delete_filterchain</button><br>
		<button type="button" ng-click="get_count_keys(get_count_keys_cb)" >get_count_keys</button><br>
		<button type="button" ng-click="get_execution_info(get_execution_info_cb)" >get_execution_info</button><br>
		<button type="button" ng-click="get_execution_list(get_execution_list_cb)" >get_execution_list</button><br>
		<button type="button" ng-click="get_default_media_name(get_default_media_name_cb)" >get_default_media_name</button><br>
		<button type="button" ng-click="get_filter_list(get_filter_list_cb)" >get_filter_list</button><br>
		<button type="button" ng-click="get_filterchain_info(get_filterchain_info_cb)" >get_filterchain_info</button><br>
		<button type="button" ng-click="get_filterchain_list(get_filterchain_list_cb)" >get_filterchain_list</button><br>
		<button type="button" ng-click="get_fps_execution(get_fps_execution_cb)" >get_fps_execution</button><br>
		<button type="button" ng-click="get_info_media(get_info_media_cb)" >get_info_media</button><br>
		<button type="button" ng-click="get_lst_old_record_historic(get_lst_old_record_historic_cb)" >get_lst_old_record_historic</button><br>
		<button type="button" ng-click="get_lst_record_historic(get_lst_record_historic_cb)" >get_lst_record_historic</button><br>
		<button type="button" ng-click="get_media_list(get_media_list_cb)" >get_media_list</button><br>
		<button type="button" ng-click="get_param_filterchain(get_param_filterchain_cb)" >get_param_filterchain</button><br>
		<button type="button" ng-click="get_param_media(get_param_media_cb)" >get_param_media</button><br>
		<button type="button" ng-click="get_params_filterchain(get_params_filterchain_cb)" >get_params_filterchain</button><br>
		<button type="button" ng-click="get_params_media(get_params_media_cb)" >get_params_media</button><br>
		<button type="button" ng-click="is_connected(is_connected_cb)">is_connected</button><br>
		<button type="button" ng-click="modify_filterchain(modify_filterchain_cb)" >modify_filterchain</button><br>
		<button type="button" ng-click="reload_filter(reload_filter_cb)" >reload_filter</button><br>
		<button type="button" ng-click="remove_image_observer(remove_image_observer_cb)" >remove_image_observer</button><br>
		<button type="button" ng-click="remove_output_observer(remove_output_observer_cb)" >remove_output_observer</button><br>
		<button type="button" ng-click="reset_param(reset_param_cb)" >reset_param</button><br>
		<button type="button" ng-click="reset_param_media(reset_param_media_cb)" >reset_param_media</button><br>
		<button type="button" ng-click="save_params(save_params_cb)" >save_params</button><br>
		<button type="button" ng-click="save_params_media(save_params_media_cb)" >save_params_media</button><br>
		<button type="button" ng-click="set_as_default_param(set_as_default_param_cb)" >set_as_default_param</button><br>
		<button type="button" ng-click="set_as_default_param_media(set_as_default_param_media_cb)" >set_as_default_param_media</button><br>
		<button type="button" ng-click="set_image_observer(set_image_observer_cb)" >set_image_observer</button><br>
		<button type="button" ng-click="start_filterchain_execution(start_filterchain_execution_cb)" >start_filterchain_execution</button><br>
		<button type="button" ng-click="start_record(start_record_cb)" >start_record</button><br>
		<button type="button" ng-click="stop_filterchain_execution(stop_filterchain_execution_cb)" >stop_filterchain_execution</button><br>
		<button type="button" ng-click="stop_record(stop_record_cb)" >stop_record</button><br>
		<button type="button" ng-click="subscribe(subscribe_cb)" >subscribe</button><br>
		<button type="button" ng-click="update_param(update_param_cb)" >update_param</button><br>
		<button type="button" ng-click="update_param_media(update_param_media_cb)" >update_param_media</button><br>
		<button type="button" ng-click="upload_filterchain(upload_filterchain_cb)" >Test</button><br>

	</div>
</body>
</html>
